<!-- // Begin Template Header \\ -->
											<div id="divTemplateHeader" style="background:#ffffff; font-family:Arial; font-weight:bold; line-height:100%; vertical-align:middle; margin: 0px 0px 0px 0px;border-top: 0px none transparent !important;border-bottom: 0px none transparent !important;border-left: 0px none transparent !important;border-right: 0px none transparent !important;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="contenttable" id="templateHeader">
													<tr>
														<td align="center">
															<div style="margin: 0 0 0 0;">

																<img class="header_image" style="max-width:600px;" alt="Header image" src="http://e.goshen.edu/rs/goshencollege/images/EmailHeader_Students_Music2.jpg">

															</div>
														</td>
													</tr>
												</table>
											</div>
											<!-- // End Template Header \\ -->