<h2 style="font-family: Gill Sans,Calibri,Roboto,Helvetica,Arial,sans-serif !important; font-weight: normal !important; color:#333 !important; margin-bottom: 10px !important">Dear {{lead.First Name:default=Future Student}},</h2>

<p style="color:#666; font-size:14px; line-height:1.6em;">My name is {{lead.Lead Owner First Name:default=Adela}} {{lead.Lead Owner Last Name:default=Hufford}} and I’ll be your Goshen College admissions counselor as you go through the enrollment process. You can <a style="text-decoration: none; color: #49176e;" href="https://www.goshen.edu/admissions/team/">learn a little bit about me and my fellow counselors</a>, but more importantly, I’d like to hear about your goals, your academic and extracurricular interests, and what makes you tick. The more I know about you, the better I will be able to help you.</p>

<p style="color:#666; font-size:14px; line-height:1.6em;">Every school is a bit different, however I think of my role as a combination of ambassador, coach and advocate.</p>

<ul style="color:#666; font-size:14px; line-height:1.6em;">
	<li style="margin-bottom: 10px;"><strong>As a Goshen College ambassador</strong>, I will share with you all about the value and benefits of a Goshen College education. I want you to have a great experience here, and to get you plugged into the things that give you energy and help you grow academically, socially and spiritually.</li>
	<li style="margin-bottom: 10px;"><strong>As your coach</strong>, I’ll help you navigate the college admission process, which can seem a bit daunting and complicated at times. I’ll keep you posted on upcoming deadlines, documents that we are missing and your next steps.</li>
	<li style="margin-bottom: 10px;"><strong>As your advocate</strong>, I’m going to work with you to get you connected with the right people and the right information to make sure you find the right college to call home (even if that’s not Goshen). I’m also going to work hard to make a Goshen College education as affordable for you as I can.</li>
</ul>

<p style="color:#666; font-size:14px; line-height:1.6em;">Let me know when there’s a good time to talk on the phone. Until then, here are a few links for next steps in the admissions process:</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td><table border="0" cellspacing="0" cellpadding="0"><tr><td style="padding-bottom: 16px;">
	<a href="https://www.goshen.edu/admissions/viewbooks/" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #49176e; border-top: 9px solid #49176e; border-bottom: 9px solid #49176e; border-right: 16px solid #49176e; border-left: 16px solid #49176e; display: inline-block;">Check out the GC viewbooks &rarr;</a>
</td></tr></table></td></tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td><table border="0" cellspacing="0" cellpadding="0"><tr><td style="padding-bottom: 16px;">
	<a href="https://www.goshen.edu/admissions/visit/" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #49176e; border-top: 9px solid #49176e; border-bottom: 9px solid #49176e; border-right: 16px solid #49176e; border-left: 16px solid #49176e; display: inline-block;">Schedule a campus visit &rarr;</a>
</td></tr></table></td></tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td><table border="0" cellspacing="0" cellpadding="0"><tr><td style="padding-bottom: 16px;">
	<a href="https://www.goshen.edu/admissions/apply/" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #49176e; border-top: 9px solid #49176e; border-bottom: 9px solid #49176e; border-right: 16px solid #49176e; border-left: 16px solid #49176e; display: inline-block;">Apply online &rarr;</a>
</td></tr></table></td></tr></table>

<p style="color:#666; font-size:14px; line-height:1.6em;">I'm looking forward to meeting and talking with you soon!</p>

<p style="color:#666; font-size:14px; line-height:1.6em;">Thanks,</p>