<table border="0" cellpadding="0" cellspacing="0" width="100%" class="contenttable" id="templateHeader"><tr>
	<td align="center"><div style="margin: 0 0 0 0;">
		<img class="header_image" style="max-width:600px;" alt="Summer at Goshen College" src="http://e.goshen.edu/rs/goshencollege/images/EmailHeader_CampusScene6.jpg">
	</div></td>
</tr></table>