<!-- Begin Counselor Signature -->
<img width="200px" width="200" src="https://www.goshen.edu/email-assets/signatures/hansjw.png">
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" style="padding: 24px 12px 0 0">
			<img src="https://photo-dir.goshen.edu/showPic.php?uid=hansjw&size=large" width="100px" width="100">
		</td>
		<td valign="top" style="margin:0 0 10px;padding:24px 12px 0 0;line-height:1.4em">
			<p style="margin:0 0 10px;padding:0;line-height:1.4em;color:#666 !important; font-family:Arial,sans-serif, arial, sans-serif !important; font-size:14px !important; line-height:1.5em !important; font-weight:normal !important; font-style:normal !important; text-align:left;">
				Jacob Gunderkline<br>
				<em style="font-style: italic !important;">Enrollment Counselor</em><br>
				<a style="text-decoration: none; color: #49176e;" href="mailto:hansjw@goshen.edu">hansjw@goshen.edu</a><br>
				<a style="text-decoration: none; color: #49176e;" href="tel:8447043400">(844) 704-3400</a><br>
			</p>
		</td>
	</tr>
</table>
<!-- End Counselor Signature -->